.navbar-layout {
    position: absolute;
    top: 0;
    z-index: 100;
    background-color: transparent;
}

nav {
    transition: 1s background-color;
}

.btn-link  {
    display: inline-block;
    border-radius: 10px;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 30px;
}


.btn-link:hover  {
    background-color: blue;
    color: white;
}

.sticky {
    background-color: black;
}

@media screen and (max-width:989px) {
    nav {
        background-color: black;
    }
}